{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended-type-checked",
    "plugin:@typescript-eslint/stylistic-type-checked",
    "plugin:svelte/recommended",
    "plugin:svelte/prettier",
    "plugin:deprecation/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "extraFileExtensions": [".svelte"],
    "sourceType": "module",
    "project": "tsconfig.json"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "overrides": [
    {
      "files": ["*.svelte"],
      "parser": "svelte-eslint-parser",
      "parserOptions": { "parser": "@typescript-eslint/parser" },
      "rules": {
        "@typescript-eslint/no-unused-vars": "off"
      }
    }
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "deprecation/deprecation": "warn"
  }
}
