{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended-type-checked",
    "plugin:@typescript-eslint/stylistic-type-checked",
    "plugin:svelte/recommended",
    "plugin:svelte/prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": ["deprecation"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "extraFileExtensions": [".svelte"],
    "sourceType": "module",
    "project": "tsconfig.json"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "overrides": [
    {
      "files": ["*.svelte"],
      "parser": "svelte-eslint-parser",
      "parserOptions": { "parser": "@typescript-eslint/parser" }
    },
    {
      "files": ["*.test.*"],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unsafe-call": "off",
        "@typescript-eslint/no-unsafe-return": "off",
        "prefer-const": "off"
      }
    }
  ],
  "rules": {
    "@typescript-eslint/array-type": "off",
    "@typescript-eslint/prefer-optional-chain": "off",
    "@typescript-eslint/switch-exhaustiveness-check": "error",
    "deprecation/deprecation": "warn",
    "no-console": "error",
    "no-debugger": "error"
  }
}
